* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.melody-and-kuromi{
    width: 400px;
}

.melody{
    width: 400px;
}

.kuromi{
    width: 400px;
}


.dots-1{
    list-style-type: circle;
}

.dots-2{
    list-style-type: circle;
}

.container{
    display: grid;
    grid-template-columns: 1fr 250px;
}

.recent-post{
    border: 5px solid #FF5C98;
    background-color: #FFC8DD;
    padding: 24px;
    margin: 24px;
    border-radius: 24px;
    color: white;
    width: 250px;
}

.categories{
    border: 5px solid #FF5C98;
    background-color: #FFC8DD;
    padding: 24px;
    margin: 24px;
    border-radius: 24px;
    color: white;
    width: 250px;
}

.main{
    border: 5px solid #FF5C98;
    background-color: #FFC8DD;
    border-radius: 24px;
    color: white;
    margin: 24px;
    padding: 24px;
    text-align: center;
}

body{
    background-color: #FFEBF2;
    background: linear-gradient(#FFEBF2,#FF5C98);
}