@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#full-page {
    background-image: linear-gradient(to top, #ff000051, #070bff3e,rgba(255, 255, 255, 0)),
        url(../images/footbal-bg.jpg);
    background-size: cover;
    background-position: center center;
}

#heading {
    margin-top: 25px;
    font-family: "Anton SC", serif;
    text-align: center;
    background: radial-gradient(rgb(0, 0, 0) 20%, rgba(0, 0, 255, 0));
}

#center-coulmn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heading h2 {
    font-weight: 100;
    margin-bottom: 12px;
    color: #ffffff;
}

#heading h1 {
    padding: 12px;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    margin: 0px;
    color: #ffffff;
    border: solid;
}

#heading h3 {
    font-weight: 100;
    font-size: 15px;
    color: #ffffff;
}

#three-columns {
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #ffffff;
}

#falcons h2 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    font-family: "Anton SC", serif;
    border: #ff0000 solid;
    background: radial-gradient(rgb(0, 0, 0) 20%, rgba(0, 0, 255, 0));
}

#falcons img {
    width: 250px;
    margin: 12px;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
}

#falcons img:hover {
    border: solid rgb(255, 3, 3) 5px;
    rotate: -2deg;
    box-shadow: -8px -8px rgb(255, 0, 0);
    scale: 1.05;
}

#panthers h2 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    font-family: "Anton SC", serif;
    border: #070dff solid;
    background: radial-gradient(rgb(0, 0, 0) 20%, rgba(0, 0, 255, 0));
}

#panthers img {
    width: 250px;
    margin: 12px;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
}

#panthers img:hover {
    border: solid rgb(0, 42, 255) 5px;
    rotate: 2deg;
    box-shadow: 8px 8px rgb(0, 47, 255);
    scale: 1.05;
}

#three-columns h1 {
    font-size: 65px;
    text-align: center;
    font-family: "Anton SC", serif;
    background: radial-gradient(rgb(0, 0, 0) 20%, rgba(0, 0, 255, 0));
}

#footer {
    text-align: center;
    color: #ffffff;
    background: radial-gradient(rgb(0, 0, 0) 20%, rgba(0, 0, 255, 0));
}

#footer-content {
    font-family: "Anton SC", serif;
    text-align: center;
}

#footer-content h3 {
    font-weight: 200;
    padding: 12px;
}

#cta-buttons {
    display: flex;
    justify-content: space-around;
}

#cta-buttons a {
    font-family: "Anton SC", serif;
    display: inline-block;
    color: aliceblue;
    background-image: linear-gradient(to right top, #ff0000, #070dff);
    padding: 15px;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

#cta-buttons a:hover {
    scale: 1.05;
    rotate: 2deg;
}

#cta-buttons a:active {
    background-color: #ffffff;
}

#footer p {
    font-family: "Anton SC", serif;
    font-weight: 100;
}

/* TABLET BREAKPOINT */
@media screen and (max-width: 800px) {
    #three-columns img {
        width: 200px;
    }

    #three-columns h1 {
        font-size: 50px;
    }

    #heading h1 {
        font-size: 35px;
    }

    #footer-content h3 {
        padding: 12px;
    }

    #footer-content h1 {
        font-size: 30px;
    }
}