@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar-top-1 {
    background: linear-gradient(#FF9F1C, #FFBF69);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo a {
    font-family: "Parkinsans", serif;
    text-decoration: none;
    padding: 12px;
    font-size: 50px;
    color: #FFFFFF;
}

#nav-top-content-1 a {
    color: #FFFFFF;
    padding-right: 12px;
}

.navbar-bottom-1 {
    background: linear-gradient(#CBF3F0, #2EC4B6);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-bottom-1 a {
    color: #FFFFFF;
    font-family: "Parkinsans", serif;
    text-decoration: none;
    padding: 24px;
    font-size: 30px;
    display: inline-block;
}

.navbar-bottom-1 .dropdown-1:hover #dropdown-menu-1 {
    opacity: 1;
    visibility: visible;
}

.dropdown-1 {
    position: relative;
}

#dropdown-menu-1 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0.25s;
}

#dropdown-menu-1 a {
    background-color: #2EC4B6;
    width: 100%;
    min-width: 100px;
}

.dropdown-1 #dropdown-menu-1 a:hover {
    background: #26a195;
}

.navbar-bottom-1 a:hover {
    background: linear-gradient(#2EC4B6, #CBF3F0);
}

#hero-1 {
    background-image: url(../images/random-dog.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-conent h1 {
    font-size: 70px;
    font-family: "Parkinsans", serif;
    color: #FFFFFF;
    text-shadow: 2px 2px 20px #FF9F1C;
}

#container {
    background-image: url(../images/dog-pattern.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

#center-column {
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#pet-1-content {
    text-align: center;
    width: 100%;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.6);
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s;
}

#pet-1-content:hover {
    transform: scale(0.9);
}

#pet-1-content h1 {
    font-family: "Parkinsans", serif;
    font-size: 70px;
    color: #FFFFFF;
    text-shadow: #26a195 5px 1px 10px;
}

#pet-1-content img {
    width: 270px;
    border-radius: 24px;
}


#pet-1-content p {
    font-family: "Parkinsans", serif;
    font-size: 23px;
    min-width: 80%;
    width: 100%;
    color: #FFFFFF;
    text-shadow: #001916 5px 1px 7px;
}

/* TABLET BREAKPOINT */
@media screen and (max-width: 800px) {
    #logo a {
        font-size: 40px;
    }

    #nav-top-content-1 a {
        font-size: 12px;
    }

    .navbar-bottom-1 a {
        font-size: 20px;
    }

    #hero-1 h1 {
        font-size: 35px;
    }

    #pet-1-content h1 {
        font-size: 40px;
    }

    #pet-1-content img {
        width: 200px;
    }

    #pet-1-content p {
        font-size: 15px;
    }
}